<!-- realTimeProducts.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time zProducts</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Listado de Productos</h1>
        <ul class="realTimeProductsContainer">
            {{#each products}}
                <li class="styleList">
                    <strong>{{this.title}}</strong>
                    <img src="{{this.thumbnail}}" alt="imagen del producto">
                    <p>{{this.description}}</p>
                    <div class="details">
                        <p class="detailTitle"><b>Precio:</b></p>
                        <p class="detailContent">{{this.price}}</p>
                    </div>
                    <div class="details">
                        <p class="detailTitle"><b>Categoría:</b></p>
                        <p class="detailContent">{{this.category}}</p>
                    </div>
                    <div class="details">
                        <p class="detailTitle"><b>Stock:</b></p>
                        <p class="detailContent">{{this.stock}}</p>
                    </div>

                    <input type="submit" value="Agregar al carrito" id="">
                </li>
            {{/each}}
        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
