<!-- realTimeProducts.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Productos en Tiempo Real</h1>
        <ul class="realTimeProductsContainer">
            {{#each realTimeViewProducts}}
                <li class="styleList">
                    <strong>{{this.title}}</strong>
                    <img src="{{this.thumbnail}}" alt="imagen del producto">
                    <p>{{this.description}}</p>
                    <div class="details">
                        <p class="detailTitle"><b>Precio:</b></p>
                        <p class="detailContent">{{this.price}}</p>
                    </div>
                    <div class="details">
                        <p class="detailTitle"><b>Categoría:</b></p>
                        <p class="detailContent">{{this.category}}</p>
                    </div>
                    <div class="details">
                        <p class="detailTitle"><b>Stock:</b></p>
                        <p class="detailContent">{{this.stock}}</p>
                    </div>

                    <input type="submit" value="Agregar al carrito" id="">
                </li>
            {{/each}}
        </ul>

    <div>
        <form method="post" id="realTimeForm" action="/realTimeProducts">
            <label for="realTimeTitle">Title:</label>
            <input type="text" id="realTimeTitle" name="title" required><br>

            <label for="realTimeDescription">Description:</label>
            <textarea id="realTimeDescription" name="description" required></textarea><br>

            <label for="realTimePrice">Price:</label>
            <input type="number" id="realTimePrice" name="price" step="0.01" required><br>

            <label for="realTimeCategory">Category:</label>
            <input type="text" id="realTimeCategory" name="category" required><br>

            <label for="realTimeThumbnail">Thumbnail URL:</label>
            <input type="text" id="realTimeThumbnail" name="thumbnail" required><br>

            <label for="realTimeStock">Stock:</label>
            <input type="number" id="realTimeStock" name="stock" required><br>

            <label for="realTimeCode">Code:</label>
            <input type="text" id="realTimeCode" name="code" required><br>

            <input type="submit" value="Send" id="realTimeButtonn">
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/RealTimeProductsContainer.js"></script>
</body>
</html>
